{minimum_otp_vsn, "23.3"}.
{erl_opts, [debug_info]}.

{deps, [
    {rosie_dds, "*.", {git, "https://github.com/rosie-project/rosie_dds.git", {branch, "main"}}},
    {rcl_interfaces, {ros2, galactic}},
    {action_msgs, {ros2, galactic}},
    {rmw_dds_common, {ros2, galactic}}
]}.

{plugins, [
    erlfmt,
    {rosie_ros2_deps, "*.",
        {git, "https://github.com/rosie-project/rosie_ros2_deps.git", {branch, "master"}}},
    {rosie_interface_compiler, "*.",
        {git, "https://github.com/rosie-project/rosie_interface_compiler.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {rosie, compile}}]},
    {post, [{clean, {rosie, clean}}]}
]}.
